!!!
%html
  %head
    %title Hookups(temp)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar
      =render 'layouts/navbar'
    %input#sidebartoggler{:type => "checkbox"}/
    .page-wrapper
      %label.close.toggle{:for => "sidebartoggler"} ☰
      .page-content
        = yield
      .sidebar
        %li.navslide
          =link_to navbar_path, {rel: 'connections', :remote=> true} do
            Connections
        %li.navslide
          =link_to navbar_path, {rel: 'profiles', :remote=> true} do
            Profiles
        = link_to remote_sign_in_path, {rel: 'sign_up_modal', :remote => true} do
          %li{ :style => "color: #DFD1E3;"} Sign Up
        = link_to remote_sign_in_path, {rel: 'sign_in_modal', :remote => true} do
          %li{ :style => "color: #DFD1E3;"} Sign In